.loginVertCenter {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.loginFormContainer {
  max-width: 400px;
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
}

.loginFormContainer mat-form-field {
  display: block;
}

.buttonAndLink {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

a {
  color: #673ab7;
  text-decoration: none;
  font-size: 12px;
  margin-top: 10px;
}
