<div class="loginVertCenter">
  <mat-card class="loginFormContainer">
    <mat-card-title>Login</mat-card-title>

    <form *ngIf="!loading; else loadingSpinner" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" autocomplete>

        <mat-error *ngIf="">Please enter a valid email address</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>

      <div class="linkContainer">
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
        <a href="#" id="forPass">Forgot password?</a>
      </div>
    </form>
    
    <ng-template #loadingSpinner>
      <mat-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
  </mat-card>
</div>