<mat-card class="loginFormContainer">
  <mat-card-title>Login</mat-card-title>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>

    <a href="#" id="forPass">Forgot password?</a>
  </form>
</mat-card>