<app-navigation [color]="'primary'"
                (newButton)="newButtonPushed($event)"
                [buttonIcon]="'person_add'">
</app-navigation>

<div class="card-container">
  <mat-card class="main-card">   

    <mat-card-content>
      <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Athletes">
          <ng-template mat-tab-label>
            <mat-icon>group</mat-icon>
          </ng-template>
          <div>
            <app-athlete-list (selectedRow)="selectAthlete($event)" [athletes]="athletes"></app-athlete-list>
          </div>
        </mat-tab>
        <mat-tab *ngFor="let athlete of openAthletesTab;" label="{{athlete.name}}">
          <ng-template mat-tab-label>
            {{athlete.name}}
            <span class="spacer"></span>
            <button mat-icon-button (click)="removeTab(openAthletesTab.indexOf(athlete))">
              <mat-icon>close</mat-icon>
            </button>
          </ng-template>
          <app-athlete-detail [athlete]="athlete" [bouts]="athlete.bouts"></app-athlete-detail>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>


