.card-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: -4em;
}

.main-card {
    width: 75%;
}

.spacer {
    flex: 1 1 auto;
}

.spacer-2 {
    flex: 0.97 1 auto;
}

.secondNavContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around
}
.new-button{
    margin-top: 4em;
}