<br />
<div class="athlete-top">
  <mat-card class="top-left" style="min-width: 35%;">

    <mat-card-header class="card-header-container">
      <mat-card-title class="top-left"><h3>Details</h3></mat-card-title>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="editAthlete()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="top-right">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item class="athlete-input"> 
          <h2 mat-line>{{athlete.name}}</h2>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="athlete-input"> 
          <h2 mat-line>{{athlete.ssn}}</h2>
          <p mat-line> SSN </p>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="athlete-input"> 
          <h2 mat-line>{{athlete.club}}</h2>
          <p mat-line> Club </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="top-right" style="min-width: 35%;">
    <mat-card-header>
      <mat-card-title><h3>Achievements</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <h2 mat-line>{{athlete.achievements.diploma?.date | date:'MMM d, y'}}</h2>
          <p mat-line>Diploma</p> 
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
            <h2 mat-line>{{athlete.achievements.bronz?.date | date:'MMM d, y'}}</h2>
          <p mat-line>Bronz</p> 
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <h2 mat-line>{{athlete.achievements.silver?.date | date:'MMM d, y'}}</h2>
          <p mat-line>Silver</p> 
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <h2 mat-line>{{athlete.achievements.gold?.date | date:'MMM d, y'}}</h2>
          <p mat-line>Gold</p> 
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<br />
<div class="bout-container" style="margin-bottom: 2em;">
  <mat-card class="mat-elevation-z8" style="width: 90%">
    <app-athlete-bouts [bouts]="bouts" [athlete]="athlete"></app-athlete-bouts>
  </mat-card>
</div>
