<h1> Athlete details temp title</h1>
<div class="athlete-top">
  <mat-card class="top-left">

    <mat-card-header class="card-header-container">
      <mat-card-title class="top-left"><h3>Details</h3></mat-card-title>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="top-right">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>

    <mat-divider></mat-divider>
    <br />
    <mat-card-content class="athlete-info">
      <mat-list >
        <mat-list-item class="athlete-input"> {{athlete.name}} </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>{{athlete.ssn}}</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>{{athlete.club}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="top-right">
    <mat-card-header>
      <mat-card-title><h3>Achievements</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>Diploma: {{athlete.achievements?.diploma | date:'MMM d, y'}} </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Bronz: {{athlete.achievements?.bronz | date:'MMM d, y'}} </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Silver: {{athlete.achievements?.silver | date:'MMM d, y'}} </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Gold: {{athlete.achievements?.gold | date:'MMM d, y'}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>