<form (ngSubmit)="onSubmit()" [formGroup]="boutForm" #formDirective="ngForm">
  <div class="boutFormContainer">

    <mat-form-field style="min-width: 8em; max-width:10em; flex: 0 1 auto">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="shorterInput">
      <mat-select placeholder="Type" formControlName="type" required>
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="typeControl.hasError('required')">Please choose a type</mat-error>
    </mat-form-field>

    <mat-form-field class="longerInput">
      <input matInput placeholder="Oppponent" formControlName="opponent" [matAutocomplete]="autoAthlete" required>
      <mat-autocomplete #autoAthlete="matAutocomplete" [displayWith]="displayOpponent">
        <mat-option *ngFor="let athlete of filteredAthletes | async" [value]="athlete">
          <span> {{ athlete.name }} </span>
          <small> ( {{athlete.club}} ) </small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="longerInput">
      <input matInput placeholder="Club" formControlName="club" [matAutocomplete]="autoClub" required>
      <mat-autocomplete #autoClub="matAutocomplete" [displayWith]="displayClub">
        <mat-option *ngFor="let club of filteredOpponentClubs | async" [value]="club">
          <span> {{ club.name }} </span>
          <small> ( {{club.shorthand}} ) </small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="shorterInput">
      <input matInput type="number" #points formControlName="points" maxlength="2" placeholder="Points" min="9" max="45" required>
    </mat-form-field>

    <mat-form-field class="longerInput">
      <input matInput placeholder="Organizer" formControlName="organizer" [matAutocomplete]="autoOrganizer" required>
      <mat-autocomplete #autoOrganizer="matAutocomplete" [displayWith]="displayClub">
        <mat-option *ngFor="let club of filteredOrganizerClubs | async" [value]="club">
          <span> {{ club.name }} </span>
          <small> ( {{club.shorthand}} ) </small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-icon-button type="submit" [disabled]="!boutForm.valid"><mat-icon>add</mat-icon></button>
  </div>
</form>